.terminal {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: text;
    white-space: pre;
    font-family: "Courier New", Courier, monospace;
    position: relative;
}

.cursor_shown {
    margin: 0;
    padding: 0;
    border: 0 none;
    outline: 0;
    opacity: 1;
    background-color: white;
    color: white;
    z-index: 100;
}

.cursor_hidden {
    padding: 0;
    margin: 0;
    border: 0 none;
    outline: 0;
    opacity: 0;
    z-index: 100;
}

.blink {
    opacity: 0;
}